<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital@0;1&family=Merriweather:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    </head>
    <body class="body__proj">
        <div class="container__proj">
            <nav class="nav__proj">
                <a href="{{ path('projIndex') }}">Hem</a>
                <a href="{{ path('projAbout') }}">Om</a>
            </nav>
        </div>
        
        {% block body %}{% endblock %}

        <footer class="footer__proj">
            <div class="container__proj">Kmom10 — 2023</div>
        </footer>
    </body>
</html>
