{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Card</h1>
    <p>Här hittar du länkar till undersidor för /card</p>

    <nav>
      <a href="{{ path('card_deck') }}">Card Deck</a>
      <a href="{{ path('card_deck_shuffle') }}">Card Deck Shuffle</a>
      <a href="{{ path('card_deck_draw') }}">Card Deck Draw</a>
      <a href="{{ path('draw_number', {'num': 10}) }}">Card Deck Draw 10</a>
    </nav>

    <h2>Klasser</h2>

    <img src="{{ asset('img/uml--cards.png') }}" alt="UML">

    Mina klasser är tre stycken:

    <h3>Card</h3>
    <p>Card-klassen är grunden för att skapa ett kort. Den instansieras med "suit" och "value", och har två metoder
    som returnerar dessa.</p>

    <h3>CardGraphic</h3>
    <p>CardGraphic-klassen innehåller en metod (setGrapic) som formaterar om bl.a. suit till en unicode-symbol, samt 
    formaterar ess, kneckt, kung osv till bokstäver. Dessutom ger den en färg för de röda och svarta suits:en, som jag
    sedan kan använda som CSS-klass för att visuellt visa färgen på kortet.</p>

    <h3>DeckOfCards</h3>
    <p>DeckOfCards-klassen innehåller ett flertal metoder för att jobbat med korten i applikationen. Den tar in 
    en parameter "drawnCards", innehållande kort från sessionen som den sedan kan räkna bort när ett nytt deck skapas. Detta 
    sker i metoden "createDeck".
    "getCards", "getNumberCards", "getRandomCard" och "shuffleDeck" är rätt självförklarande metoder.</p> 
{% endblock %}