{% extends 'base.html.twig' %}

{% block title %}Bibliotek{% endblock %}


{% block body %}
    <h1>Bibliotek</h1>
    <p>Välkommen till mitt bibliotek. Här kan du editera böckerna i databasen!</p>

    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Titel</th>
                <th>ISBN</th>
                <th>Författare</th>
                <th>Bild</th>
                <th>Editera</th>
                <th>Ta bort</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{book.id}}</td>
                    <td><a href="{{ path('showBookById', { 'id': book.id }) }}">{{book.title}}</a></td>
                    <td>{{book.isbn}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.image}}</td>
                    <td><a href="{{ path('updateBookTemplate', { 'id': book.id }) }}">Editera</a></td>
                    <td><a href="{{ path('deleteBookById', { 'id': book.id }) }}">Ta bort</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    

    <form action="{{ path('createBook') }}" method="post">
        <div class="form-block">
            <h2>Lägg till ny bok</h2>

            <input type="text" placeholder="Titel" name="title"/>
            <input type="text" placeholder="ISBN" name="isbn"/>
            <input type="text" placeholder="Författare" name="author"/>
            <input type="text" placeholder="Bild" name="image"/>

            <button type="submit">Lägg till</button>
        </div>
    </form>
    {# {{dump(books)}} #}
{% endblock %}
